* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FFFFFF;
    padding: 20px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    border: 2px solid #000000;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 20px;
}

.products-container {
    display: flex;
    gap: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-grow: 1;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.product-img {
    width: 150px;
    height: 150px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
}

.product-img img {
    max-width: 100%;
    max-height: 100%;
}

.product-name {
    margin-top: 10px;
    font-weight: bold;
}

.product-price {
    font-size: 10px;
    font-weight: bold;
}

.cart-info {
    width: 250px;
    min-width: 250px;
}

.selected-product {
    background-color: #DDDDDD;
    padding: 20px;
    margin-bottom: 20px;
}

.selected-product-name {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.selected-product-price, .total-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn {
    display: block;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.btn-total {
    background-color: #8F3A3E;
}

.btn-clear {
    background-color: #C3DC4B;
    color: black;
}

.product-amount{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding-left: 5px;
}

.product-amount-btn{
    user-select: none;
    display: block;
    max-width: 100%;
    padding: 5px 13px; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
}

.product-amount-label{
    user-select: none;
    background-color: white;
    margin: 0px 5px;
    max-width: 100%;
    padding: 5px 13px;
    border: 1px solid #000000;
    color: black;
}

.product-add{
    user-select: none;
    display: block;
    max-width: 100%;
    padding: 5px 13px; 
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    background-color: #DDDDDD;
    text-align: center; 
    margin-top: 10px; 
}
